language: cpp
sudo: required
dist: trusty
cache: ccache

git:
  depth: 200

branches:
  only:
  - master

addons:
  apt:
    packages:
    - libosmesa6-dev
    - freeglut3-dev
    - libpng-dev

cache:
 directories:
  - $HOME/build/$TRAVIS_REPO_SLUG/ldraw

matrix:
  fast_finish: true
  include:
  - os: linux
    compiler: gcc
    env:
     - QT_BASE=59
  - os: osx
    compiler: clang
    env:
     - QT_BASE=59

before_install:
  # Skip build if the commit message contains [skip travis] or [travis skip]
  - >
      echo "$TRAVIS_COMMIT_MESSAGE"
      | grep -E  '\[(skip travis|travis skip)\]'
      && echo "[skip travis] detected, exiting."
      && exit 0 || true
  # Build package if commit message contains [build pkg]
  - >
      echo "$TRAVIS_COMMIT_MESSAGE"
      | grep -E  '\[build pkg\]'
      && echo "[build pkg] detected."
      && export LDGL_BUILD_PKG=yes || true
  # Build and deploy package if commit message contains [deploy pkg]
  - >
      echo "$TRAVIS_COMMIT_MESSAGE"
      | grep -E  '\[deploy pkg\]'
      && echo "[deploy pkg] detected."
      && export LDGL_BUILD_PKG=yes
      && export LDGL_DEPLOY_PKG=yes || true
  # Add private qt repositories
  - if [[ "$QT_BASE" = "59" && "$TRAVIS_OS_NAME" = "linux" ]]; then sudo add-apt-repository ppa:beineri/opt-qt592-trusty -y; fi
  # Update repository index and download package dependencies/docker-engine if required
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      sudo apt-get update -qq;
      export LDGL_DIST_DIR=lpub3d_linux_3rdparty;
    else
      brew update;
      brew install ccache;
      export PATH="/usr/local/opt/ccache/libexec:$PATH";
      export LDGL_DIST_DIR=lpub3d_macos_3rdparty;
    fi

install:
  # Install qt5 on Linux
  - if [[ "$QT_BASE" = "59" && "$TRAVIS_OS_NAME" = "linux" ]]; then sudo apt-get install -qq qt59base; source /opt/qt59/bin/qt59-env.sh; fi
  # Install qt5 on MacOS, clone lpub3d_macos_3rd party repository and download LDraw library archive files
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
        brew install qt5;
        brew link --force qt5;
    fi
  - if [ ! -f "$HOME/build/$TRAVIS_REPO_SLUG/ldraw/parts/3001.dat" ]; then
      wget http://www.ldraw.org/library/updates/complete.zip -O ./complete.zip;
      unzip -qq ./complete.zip -d "$HOME/build/$TRAVIS_REPO_SLUG/" && if test "$HOME/build/$TRAVIS_REPO_SLUG/ldraw"; then echo "LDraw lib unzipped"; fi;
    fi

script:
  # Compile and install - this will be the MacOS logic, linux will move to Docker
  - qmake -v
  - qmake CONFIG+=3RD_PARTY_INSTALL=${LDGL_DIST_DIR} CONFIG+=release CONFIG+=BUILD_CHECK
  - make && make install

# after_script:
#   - if [ "$TRAVIS_OS_NAME" = "osx" ]; then cd tests; bash test.sh 5; fi

before_deploy:
  # create a tarball of the lpub3d_linux_3rdparty folder
  - if [ "$LDGL_BUILD_PKG" = "yes" ]; then
      if [ -d ${LDGL_DIST_DIR} ]; then
        tar -czf ${LDGL_DIST_DIR}.tar.gz ${LDGL_DIST_DIR} && echo "Tarball ${LDGL_DIST_DIR}.tar.gz created.";
      fi;
    fi

deploy:
  provider: releases
  api_key:
    secure: UyhlW/S9cht1ffke3ucqW+R8sag7F4irEBOiUUGmvnJcd5Mol9J/ExOOb+olzct5//sa4jDJ4N4vqFhcdrdWAs23gtlLxNK7S13kNB3Zbuwn3CSYsoT+vBvueBiQgj9GZCC9U+HODUap97ziwNvoc2TFajMBGgvcQXu5VWfJ9BzaP+HwRlXowbBbxc4pHl+Mv96BWNFugvNHkbGtPlwNHQ0eMVemvUMX9QwiJoFHTiN0wgTDXtQoYJWfHQdVtRiRME/+bp9ustzaoe7iWJnTj7QD8mLcEmjQi3ZGX0jhMkPJndXck0E/S/ojTloRnfUJl8B0qkZ+I4Iux9vS34w7EI80ZjOomyUPNyDpPew/WDEkft2tOeCEszZGATgiee8W+4hhneIzUYMik9LdiqX96Gr1nlez0A36W7Jm7vVEH/ahpjDXZt7QtOiOPkVuy6diyudKSitS3EIcsuBheezohQxOc1MEBeoS8An2L7baqUFLVYF6WeNJHfjIpbjtw0A7eKK5YEyI7dP4Z+EUG4GVwdL9TVnWo+LAZAhYKUsyjH92BQKm1xpHD59YkC4HR84pQP8dlDho2XpN4Nm0nxmdC4UIcnzTD3faZGQ8kvPZemcAz1FC6di5XrB7vDPfUYOeGu3S+/xa3rIDheFeFAn5Yq1zqWua9j7uLqyz1UXTkSQ=
  file: ${LDGL_DIST_DIR}.tar.gz
  overwrite: true
  name: ${LDGL_DIST_DIR}
  body: 'LDGLite - `uname` archive package of LPub3D image renderer'
  prerelease: true
  skip_cleanup: true
  on:
    repo: trevorsandy/ldglite
    condition: $LDGL_DEPLOY_PKG = yes

notifications:
  email:
    on_success: never
    on_failure: always
