<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>        <string>English</string>
    <key>CFBundleInfoDictionaryVersion</key>    <string>6.0</string>
    <key>CFBundleExecutable</key>               <string>ldglite</string>
    <key>CFBundlePackageType</key>              <string>APPL</string>
    <key>CFBundleSignature</key>                <string>LdGL</string>
    <key>CFBundleName</key>                     <string>ldglite</string>
    <key>CFBundleVersion</key>                  <string>${VERSION}</string>
    <key>CFBundleShortVersionString</key>       <string>ldglite ${VERSION}</string>
    <key>CFBundleGetInfoString</key>            <string>ldglite ${VERSION} ${URL}</string>
    <key>CFBundleIconFile</key>                 <string>ldglite.icns</string>
    <key>CFBundleIdentifier</key>               <string>org.ldraw.ldglite</string>
    <key>CSResourcesFileMapped</key>            <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
         <key>CFBundleTypeExtensions</key>
           <array>
             <string>LDR</string>
             <string>ldr</string>
             <string>MPD</string>
             <string>mpd</string>
             <string>DAT</string>
             <string>dat</string>
           </array>
         <key>CFBundleTypeIconFile</key>        <string>ldraw_document.icns</string>
         <key>CFBundleTypeName</key>            <string>Ldraw Document</string>
         <key>CFBundleTypeMIMETypes</key>
           <array>
             <string>application/x-ldraw</string>
           </array>
         <key>CFBundleTypeOSTypes</key>         <array><string>LDR</string></array>
         <key>CFBundleTypeRole</key>            <string>Viewer</string>
         <key>NSDocumentClass</key>             <string>BrowserDocument</string>
      </dict>
    </array>
  </dict>
</plist>
